body{
  text-align: center;
}

.questionares{
  margin: 40px 150px;
}

.heading{
  margin-bottom: 70px;
}
.card{
  text-align: left;
  margin-top:30px;
}

.answer{
  width:25%
}

.qcontainer{
  width:100%;
}

label{
  max-width: 75%;
  padding-left: 20px;
  padding-right: 30px;
  float:left;
}

input{
  margin-left: auto;
  margin-right: 0;
  border-radius: 25px;
  background-color: #f8fdff;
}

.question_container{
  margin:10px auto 25px;
  background-color: #c5cae9;
  border-radius: 25px;
}

.card-header{
  background-color: #9499b7;
}

.card-body{
  background-color: #9499b7;
}

.btn-link{
  color:black;
  text-decoration: none;
  font-family:'Comfortaa', cursive;
  font-size: 1.2rem;
}

.coligue_name{
  font-weight: bold;
}
