.jumbotron{
  text-align: left;
  background: none;
  padding-bottom: 10px;
  margin-bottom: 0;
}

.table{
  margin:30px auto;
  width: 85%;
}

.label{
  text-align: left;
  margin: 10px 50px;
}

.total{
  color:white;
}

.name{
  text-align: left;
}
