.jumbotron{
  text-align: center;
  background: none;
  padding-bottom: 10px;
  margin-bottom: 0;
}

.form{
  width:50%;
  margin: auto;
  text-align: center;

}

label{
  padding-bottom: 2px;
}

.Box{
  margin:auto;
  padding: 10px 20px;
  border:1px solid black;
}

.mb-3{
  padding:20px;
  margin:0;
}
