
body{
  background-image:linear-gradient(to right,#f3f8ff,#e8d3ff);
  font-family:'Comfortaa', cursive;
  width:100%;
  height: 100%;
  overflow-x: hidden;
}

/* header */

.header-img{

}

h3{
  font-family:'Comfortaa', cursive;
  font-weight: 900;
  font-size:2.3rem;
  color: #000000;

}

.title{
  text-align: center;
  margin:auto;
  padding: 0;
  width:70%;
}

.image{
  text-align: center;
  margin: auto;
  padding: 0;
}

/* content */

.login-form{
  padding:15px;
  width:50%;
  margin:auto;
  text-align: center;
}

/* form */

.form-control{
  width:75%;
  margin:auto;
}

.form-group{
  margin:auto;
  padding: 14px 0;
}

input{
  padding: 14px 0 0;
}

label{
  font-weight: 600;
  font-size:1rem;
}



.contents{
  margin-top:100px;
}

.checkbox{
  padding: 10px
}

/* Second Page - To be removed eventually */
