
body{
  background-image:linear-gradient(to left,#ce93d8,#565656);
  font-family:'Comfortaa', cursive;
  height:100%;
}

/* header */

.header-img{

}

h3{
  font-family:'Comfortaa', cursive;
  font-weight: 900;
  font-size:2.5rem;

}



.title{
  background-image:linear-gradient(to right,#565656,#ce93d8);
  margin:auto;
  height: 100vh;
  padding: 0;
  display: flex;
  align-items: center;
  color:#fff;
}

.image{
  text-align: center;
  margin: auto;
  padding: 0;
}

/* content */

.login-form{
  padding:15px 15px 15px 0;
  background-color: #565656;
  flex-shrink: 0;
}

/* form */

.form-control{

}

.form-group{
  margin:auto;
  padding: 14px 0;
}

input{
  padding: 14px 0 0;
}
